@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Shadows+Into+Light+Two&display=swap');

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-shadows: 'Shadows Into Light Two', cursive;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-shadows {
  font-family: var(--font-shadows);
}

body {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  font-family: var(--font-roboto);
}
